.breadcrumb-nav {
    background: transparent;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
}

.breadcrumb {
    font-size: 20px;
    color: rgb(68, 49, 49);
    text-transform: capitalize;
}

.breadcrumb:hover {
    color: rgb(77, 97, 82);
    text-decoration: underline;
}

li.breadcrumb-active {
    margin-left: 5%;
}
