nav.main-nav {
    padding: 20px;
    height: 100%;
    background-color: var(--main-app-color)
}    

nav a.sidenav-trigger {
    display: block;
}

nav.main-nav a {
    padding: 0 10px;
    color: var(--main-app-contrast);
}

nav.main-nav .nav-wrapper {
    display: flex;
}